* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

/* topContactOne   sectionOne-1  /// */
.toContactBp {
  background: #f6eca9;
}
.topContact {
  width: 100%;
  margin: auto;
}

.topContactOne {
  padding: 20px 0;
  background: rgba(0, 99, 153, 0.815);
  color: #ffffff;
  font-family: 'Montserrat';
  border-top-right-radius: 1000px;
}
.topContactFlex {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.topContactFlexOne h4 {
  outline: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.faceBook{
  margin-right: 20px;
}

/* topContactTwo */

.topContactTwo {
  display: flex;
  justify-content: end;
  padding: 20px 0;
  background: #f6eca9;
  /* color: #ffffff; */
  font-family: 'Montserrat';
  gap: 25px;
}

.twoOne {
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoOne h5 {
  margin-left: 10px;
}

.twoTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twoTwo h5 {
  margin-left: 10px;
  margin-right: 10px;
}

.line {
  border-left: 2px solid #0f0f0f;
}

/* //// navigationBar  SectionTwo-2 ////  */
.navbar {
  background-color: #12486b;
}

.offcanvas-body {
  background-color: #12486b;
}

.logo {
  width: 200px;
}

/* //// welcomeSection ////  */

.welcomBackGroundImage {
  background-image: linear-gradient(
      rgba(4, 9, 30, 0.689),
      rgba(4, 9, 30, 0.416)
    ),
    url(img/home2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}

.welcomBackGroundImage {
  padding-bottom: 19%;
}

.welcomeMain {
  margin-top: 110px;
}

.welcomeMain {
  width: 85%;

}

.welcomeMain h5 {
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 600;
}

.welcomeMain h2 {
  color: #ffffff;
  font-size: 4rem;
  font-family: 'Montserrat';
  margin-top: 10px;
}

.welcomeMain p {
  color: #ffffff;
  font-size: 1.3rem;
  margin-top: 25px;
}

.discover {
  background-color: #f6eca9;
  padding: 10px 10px;
}

.discover a {
  display: block;
}

.discover:hover {
  background-color: #12486b;
  color: #ffffff;
}
.contact {
  padding: 10px 15px;
}
.contact:hover {
  background-color: #12486b;
  color: #ffffff;
}

.addmission-open{
  background-color: #f6eca9;


}

.addmission-open:hover{
  background-color: #f6eca9a8;

}


/* ///////////////////// aboutSection /////////// */


.aboutMain{
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.aboutMain-1 img{
  width: 100%;
  font-weight:bold;
}

.aboutMain-2 h5{
  color: #FFC436;
  font-family: 'Ubuntu';
}

.aboutMain-2 h2{
  font-size: 3rem;
  font-family: 'Ubuntu';
}

.aboutP-1{
 color: #0d79bc;
 font-family: 'Ubuntu';
}

.aboutP-2{
  font-family: 'Ubuntu';
}

.aboutButton{
  padding: 12px 30px;
  background-color: #12486b;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;

}

  .aboutButton:hover{
  background-color: #f6eca9;
  transition: 0.5s;
  color: #12486b;
  font-family: 'Ubuntu';
}


/* events ///////////////  */
#ourEvents{
  /* background: #f6eca9; */
  padding-top: 5px;
  padding-bottom: 3rem;
  background:#12476b77;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 

}
.events{
  margin-top: 3rem;
 text-align: center;
 font-family: 'Ubuntu';

}

.events h5{
  color: #FFC436;
  font-weight: bold;
  
  
}

.events h2{

  font-weight: bold;
  font-size: 45px;
  margin-bottom: 4rem;
  
}



.zoom {
  /* padding: 50px; */
  position: relative;
  z-index: 1;
  padding: 10px;
  transition: transform .2s; /* Animation */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Ubuntu';
 
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  overflow: hidden;
  color: #ffffff;
}



.backgroundColor:hover{
  background:#12486b;
  /* color: #f6eca9; */
}


.backgroundColor:hover .myBtnTwo{
  background-color: #f6eca9;
  color: #12486b;
}
.myBtn{
color: #12486b;
  background: #f6eca9;
}

.myBtn:hover{
  color: #fff;;
  border: 1px solid #f6eca9;
}

.myBtnTwo{
  background-color: #12486b;
  color: #f6eca9;
}

.myBtnTwo:hover{
  color: #12486b;
  background: #f6eca9;
}


/* //////get every /// */



#getEvery{
  padding-top: 100px;
  /* background: #f6eca95b; */
  padding-bottom: 100px;
}
.getBtn{
  border: 1px solid black;
  padding: 15px;
  border-radius: 4px;
  width: 100%;

}


.getBtn:hover{
  border: 1px solid black;
}

.getLeft{
  font-size: x-large;
  border: 1px solid black;
  padding:5px 10px;
  border-radius: 8px;
  
  position: absolute;
  right:5px;
  top: 10px;
  
}

.gap-1{
  position: relative;
}

.getAns h1{
  font-family: 'Ubuntu';
}

.getContact form {
  background:#12486b;
padding: 50px 40px;
border-radius: 15px;
}

.getContact form h1 {
  color: white;
  font-family: 'Ubuntu';


}

/* /////// Testimonial */

#Testimonial{
  padding-top: 100px;
  /* margin-bottom: 100px; */
  background:#12476b77;
  padding-bottom: 100px;
  color: #ffffff;
}

.testCard img {
  
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  /* border-radius: 100px; */
}

.testCard hr{
  width: 40px;
  margin: auto;
  margin-bottom: 10px;
}

.testCard{
  
  text-align: center;
  border-radius: 5px;
  background:#12486b;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.testCard:hover{
  background: #12476b77;
  transition: 0.5s;
}

.fa-quote-left{
  font-size: xx-large;
  color: #f6eca9;
}

.testHeadings{
  text-align: center;
  padding-bottom: 30px;
}

.testHeadings h5{
  color: #FFC436;
  font-weight: bold;
  font-family: 'Ubuntu';
}

.testHeadings h1{
  font-weight: bold;

  color: #0f0f0f;
  font-family: 'Ubuntu';
}

/* alumni  */

#alumniForm  {
  background:#12486b;
  /* padding: 50px; */
  padding-top: 90px;
  padding-bottom: 110px;
}

.alumniHeadings{
  text-align: center;
  margin-bottom: 60px;

}
.alumniHeadings h1{
  color: #FFC436;
}
.alumniHeadings h5{
  color: #ffffff;

}

/* ///footer */

#footer{
  background:#ffc3366b;
  padding-top: 30px;
  padding-top: 50px;
}


.footerOne,.footerTwo h2 {
color: #12486b;
}

.footerOne p{
  color: #12476bb0;
}
.footerOne,.footerTwo{
  color: #12486b;
}

.footerThree h2 {
  color: #12486b;
}


.footerTwo a {
  text-decoration: none;
  color: #1c75b1;
}
.footerFour h2{
  color: #12486b;
  
}
.footerFour a{
  text-decoration: none;
  color: #1c75b1;
}

/* ///copy */

.copy{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

/* media queries */

/* /mobile */

@media (max-width: 600px) {

  
  .welcomBackGroundImage {
    height: 110vh;
    /* padding-bottom: 100vh; */
  }

  .welcomeMain {
    margin-top: 120px;
  }

  .welcomeMain h5 {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 15px;
  }

  .welcomeMain h2 {
    color: #ffffff;
    font-size: 34px;
    font-family: 'Ubuntu';
    /* font-weight: bold; */
    margin-top: 20px;
  }

  .welcomeMain p {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 25px;
    font-family: 'Ubuntu';
  }



  .discover {
    background-color: #f6eca9;
    padding: 10px 10px;
    font-size: small;
    font-family: 'Ubuntu';
  }

  .contact {
    padding: 10px 15px;
    font-size: small;
    font-family: 'Ubuntu';
  }


  /* /////////////// aboutSetion ///////// */
  .aboutButton{
    margin-top: 1rem;
 
  }
  .aboutMain-2 h5{
    margin-top: 3rem;
 
  }
  .aboutMain-2 h2{
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-family: 'Ubuntu';
    border: none;
  }


     /* /// our events ////  */
  .events h2{

    font-weight: bold;
    font-size: 25px;
    margin-bottom: 3rem;

    
  }

  .zoom{
    margin-bottom: 2rem;
  }

 

  /* //// get every */

  
#getEvery{
  padding-top: 10px;
  /* background: #f6eca95b; */
}

.getAns{
  margin-bottom: 50px;
}
.getAns h1{
  font-weight: bold;
}
.getContact{
  margin-bottom: 50px;
}
.getContact h1{
  font-weight: bold;
}
  

/* testimonials  */

.testCard{
  margin-bottom: 20px;
}


/* /// alumni  */

.alumniHeadings h5{
  text-align: left;

}

.alumniHeadings h1{
  margin-bottom: 20px;
}

/* ///footer */
.footerOne,.footerTwo,.footerThree,.footerFour{
  margin-bottom: 40px;
}

}

/* tab */
@media (max-width: 991px) and (min-width: 601px) {

  .welcomBackGroundImage {
    padding-bottom: 30%;
  }

  .welcomeMain {
    margin-top: 170px;
  }

  .welcomeMain h2 {
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Ubuntu';
    font-weight: bold;
    margin-top: 30px;
    line-height: normal;
  }

  /* /////////////// aboutSetion ///////// */
  .aboutButton{
    margin-top: 1rem;
  }
  .aboutMain-2 h5{
    color: #FFC436;
    margin-top: 3rem;
 
  }
  .aboutMain-2 h2{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: 'Ubuntu';
  }

  /* ///// our events  ///  */
  .zoom{
    margin-bottom: 2rem;
  }
  
 /* //// get every */

  
 #getEvery{
  padding-top: 10px;
  /* background: #f6eca95b; */
}

.getAns{
  margin-bottom: 50px;
}
.getAns h1{
  font-weight: bold;
}
.getContact{
  margin-bottom: 50px;
}
.getContact h1{
  font-weight: bold;
}
/* ////testimonials */
.testCard{
  margin-bottom: 10px;
}

/* ///alumni */

.footerOne,.footerTwo,.footerThree,.footerFour{
  margin-bottom: 30px;
}

}

/* tab 2.0 */
@media (max-width: 991px) {
  .topContactSection {
    display: none;
  }
}



@media (max-width: 1199px) and (min-width: 991px) {

  .aboutMain-2 h2{
    font-size: 1.5rem;
    font-family: 'Ubuntu';
  }
  
}