*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
}

/* topContactOne   sectionOne-1  /// */
.toContactBp{
  background: #F6ECA9;
}
.topContact{
  width: 100%;
  margin: auto;
}

.topContactOne{
  padding: 20px 0;
  background: rgba(0, 99, 153, 0.815);
  color: #ffffff;
  font-family: 'Montserrat';
  border-top-right-radius: 1000px;

}
.topContactFlex{
  display: flex;
  justify-content:center;
  align-items: center;
}

.topContactFlexOne h4{
  outline: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;

}

.fa-facebook{
  margin-right: 20px;
}


/* topContactTwo */

.topContactTwo{
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  background:#F6ECA9;
  /* color: #ffffff; */
  font-family: 'Montserrat';
  

}

.twoOne{
  display: flex;
  justify-content: center;
  align-items: center;
}
.twoOne h5{
  margin-left: 10px;
}

.twoTwo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.twoTwo h5{
  margin-left: 10px;
}

.line{
  border-left: 2px solid #0f0f0f;
}


/* //// navigationBar  SectionTwo-2 ////  */
.navbar{
  background-color: #12486b;
}

.offcanvas-body{
  background-color: #12486b;
}

.logo{
width: 200px;
}


/* media queries */

@media(max-width:768px){
  .topContactSection{
    display: none;
  }
}
